@font-face {
    font-family: 'HoengseongHanu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/HoengseongHanu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1.figma {
    font-family: HoengseongHanu;
    text-align: center;
    margin: 50px;
}