@font-face {
    font-family: 'HoengseongHanu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/HoengseongHanu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1.figma {
    font-family: HoengseongHanu;
    text-align: center;
    margin: 50px;
}

h1.introdution {
    font-family: HoengseongHanu;
    text-align: center;
    margin: 50px;
}

div.movebox {
    width: 150px;
    height: 100px;
    margin: 0 auto;
    background: rgb(1, 208, 223);
    border-radius: 25px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

a.move {
    display: inline-block;
    font-size: 50px;
    line-height: 100px;
    color: white;
}