.wrap {}

#header {
    height: 109px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

#header .logo {
    margin: 32px 83px;
    font-size: 30px;
}

#header .logo a {
    padding: 10px;
}

#header .menu {
    position: relative;
}
#header .menu ul {
    position: absolute;
    right: 120px;
    top: 40px;
}
#header .menu li {
    display: inline-block;
    font-weight: 700;
    padding: 0 25px;
}

#header .menu li a {
    padding: 10px;
}

#header .more {
    position: absolute;
    right: 100px;
    top: 40px;
}

#contents {
}

.content1 {
    height: 420px;
}

.content1 .article1 {
    margin: 0 auto;
    width: 1120px;
    height: inherit;
}

.content1 .article1 p {
    font-weight: 700;
    font-size: 40px;
    padding-top: 247px;
}

.content2 {
    height: 746px;
}

.content2 .article2 {
    margin: 0 auto;
    width: 1120px;
    height: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;

}

.content2 .article2 p {
    margin: 37px 0 -20px 0;
    font-size: 25px;
    font-weight: 600;
}

.content2 .article2 .left {
    margin-top: 51px;
    border-top: 1px solid #000;
}

.content2 .article2 .left .img_left{
    width: 548px;
    height: 548px;
    background: url(../img/article1left.jpg);
}
.content2 .article2 .right {
    margin-top: 102px;
    border-top: 1px solid #000;
    width: 548px;
    height: 600px;
    position: absolute;
    right: 0;
}

.content2 .article2 .right .img_right{
    width: 548px;
    height: 548px;
    background: url(../img/article1right.jpg);
}

.content3 {
    height: 1325px;
}

.content3 .article3 {
    margin: 0 auto;
    width: 1120px;
    height: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;

}

.content3 .article3 p {
    margin: 37px 0 -20px 0;
    font-size: 25px;
    font-weight: 600;
}

.content3 .article3 .left {
    margin-top: 51px;
    border-top: 1px solid #000;
}

.content3 .article3 .left .img_left{
    width: 548px;
    height: 548px;
    background: url(../img/article3left.jpg);
}
.content3 .article3 .right {
    margin-top: 102px;
    border-top: 1px solid #000;
    width: 548px;
    height: 600px;
    position: absolute;
    right: 0;
}

.content3 .article3 .right .img_right{
    width: 548px;
    height: 548px;
    background: url(../img/article3right.jpg);
}

#footer {
    height: 370px;
    background-color: #6D5E6F;
}